.button {
  outline: 0;
  display: block;
  margin: 30px auto;
  width: 90%;
  padding: 20px 0;
  font-size: 32px;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #6c72c9;
}
