.tips {
  font-size: 14px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: transparent;
}

.body {
  min-width: 8.58em;
  max-width: 72%;
  padding: 0.7em;
  font-size: 1em;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  word-wrap: break-word;
  border-radius: 0.3em;
  background-color: rgba(0, 0, 0, 0.7);
  animation: tipsBounceEnter 0.75s ease;
}

@keyframes tipsBounceEnter {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(1, 1, 1);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
