<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Axe Examples</title>
</head>
<body>
  <h1>Axe Examples</h1>
  <ul>
    <% for (var i = 0; i < htmlWebpackPlugin.options.entryPoints.length; i++) { %>
      <li><a href="<%= htmlWebpackPlugin.options.publicPath %><%= htmlWebpackPlugin.options.entryPoints[i] %>.html"><%= htmlWebpackPlugin.options.entryPoints[i] %></a></li>
    <% } %>
  </ul>
</body>
</html>
